.show-cart li {
  display: flex;
}
.card {
  margin-bottom: 20px;
}
.card-img-top {
  width: 200px;
  height: 400px;
  align-self: center;
}

.navbar {
  display: flex;
  justify-content: flex-end;
}

.CartContainer {
  margin-top: 100px;
  border-radius: 1%;
  border: 2px solid #000;
}

.row {
    display: flex;
    justify-content: space-around;
    gap: 400px;
}
